<%= form_for(bus_route) do |f| %>
  <% if bus_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bus_route.errors.count, "error") %> prohibited this bus_route from being saved:</h2>

      <ul>
      <% bus_route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :busID %>
    <%= f.number_field :busID %>
  </div>

  <div class="field">
    <%= f.label :routeID %>
    <%= f.number_field :routeID %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
